<div class="header_top d-none d-md-flex">
    <div class="container d-flex align-items-center justify-content-between justify-content-xxl-start">
        <div class="first_bloc d-flex align-items-center">
            <span class="base_color_2 font-weight-bold margin-texte first">Mon Agence Immobiliere </span>
            <span class="color_white font-weight-bold texte"> l'expérience e-commerce</span>
        </div>
        <div class="second_bloc d-none d-lg-flex align-items-center">
            <span class="d-none d-xl-flex icon-users base_color_2"></span>
            <span class="base_color_2 font-weight-bold  margin-texte">Un réseau</span>
            <span class="color_white font-weight-bold margin-texte ">national</span>
        </div>
        <div class="third_bloc d-flex align-items-center">
            <span class="d-none d-xl-flex icon-phone base_color_2 mr-2"></span>
            <span class="color_white font-weight-bold text-uppercase margin-texte">Besoin d'un conseil ?</span>
            <span class="mr-2">  </span>
            <span class="d-none d-xl-flex base_color_2 font-weight-bold mr-5"> 05 00 00 00 00</span>
        </div>
    </div>
</div>