<div class="navigation">
    <header class="fixed_top">

        {% include 'Header/include/_header_top.html.twig' %}
        {% include 'Header/include/_navbar.twig' %}

    </header>

    {% if app.request.uri == 'http://immo.localhost/' %}
        {% include 'Header/include/_header_img.html.twig' %}
    {% endif %}

</div><!-- /.navigation -->