<div class="navigation">
    <header class="fixed_top">

        {% include 'Header/include/_header_top.html.twig' %}
        {% include 'Header/include/_navbar.twig' %}

    </header>

    {% include 'Header/include/_header_img.html.twig' %}

</div><!-- /.navigation -->