<div id="page-content">

    <section>  <!-- Nos Services -->
        <div class="container">
            <header class="section-title"><h2>Nos services</h2></header>

            {% include 'Site/include/_cardService.html.twig' %}

        </div><!-- /.container -->
    </section><!-- /Nos Service -->

    <section>  <!-- Baise des prix -->
        <div class="container">

            <header class="section-title">
                <h2>Baisse des prix</h2>
                <a href="#" class="link-arrow">Tous les biens</a>
            </header>

            {% include 'Site/include/_cardProperty.html.twig' %}

        </div><!-- /.container -->
    </section><!-- /Baise des prix -->

{#    <aside id="advertising" class="block">#}
{#        <div class="container">#}
{#            <a href="submit.html">#}
{#                <div class="banner">#}
{#                    <div class="wrapper">#}
{#                        <span class="title">Do you want your property to be listed here?</span>#}
{#                        <span class="submit">Submit it now! <i class="fa fa-plus-square"></i></span>#}
{#                    </div>#}
{#                </div><!-- /.banner-->#}
{#            </a>#}
{#        </div>#}
{#    </aside><!-- /#adveritsing-->#}

    <section>  <!-- Nouveau bien -->
        <div class="container">

            <header class="section-title">
                <h2>Des nouveaux biens pour vous</h2>
                <a href="#" class="link-arrow">Tous les biens</a>
            </header>

            {% include 'Site/include/_cardProperty.html.twig' %}

        </div><!-- /.container-->
    </section><!-- /Nouveau bien-->


    <section><!-- /Témoignages -->
        <div class="container">
            <header class="section-title">
                <h2>Témoignages</h2>
            </header>

             {% include 'Site/include/_testimonials.html.twig' %}

        </div><!-- /.container -->
    </section><!-- /Témoignages -->

    {% include 'Site/include/_partners.html.twig' %}

</div>

    {% include 'Site/include/_footer.html.twig' %}

<div id="overlay"></div>
