{% extends 'base.html.twig' %}

{% block body %}

    {% include 'Header/header.html.twig' %}

    <section>  <!-- Nos Services -->
        <div class="container">
            <header class="section-title"><h2>Nos services</h2></header>
            {% include 'Site/include/_cardService.html.twig' %}
        </div><!-- /.container -->
    </section><!-- /Nos Service -->

    <section>  <!-- Baise des prix -->
        <div class="container">
            <header class="section-title">
                <h2>Baisse des prix</h2>
                <a href="properties_listing.html.twig" class="link-arrow">Tous les biens</a>
            </header>
            {% include 'Site/include/_cardProperty.html.twig' %}
        </div><!-- /.container -->
    </section><!-- /Baise des prix -->

    <section>  <!-- Nouveau bien -->
        <div class="container">
            <header class="section-title">
                <h2>Des nouveaux biens pour vous</h2>
                <a href="#" class="link-arrow">Tous les biens</a>
            </header>
            {% include 'Site/include/_cardProperty.html.twig' %}
        </div><!-- /.container-->
    </section><!-- /Nouveau bien-->

    <section><!-- Témoignages -->
        <div class="container">
            <header class="section-title"><h2>Témoignages</h2></header>
            {% include 'Site/include/_testimonials.html.twig' %}
        </div><!-- /.container -->
    </section><!-- /Témoignages -->

    <section><!-- Partenaire -->
        <div class="container">
            <header class="section-title"><h2>Nos partenaires</h2></header>
            {% include 'Site/include/_partners.html.twig' %}
        </div><!-- /.container -->
    </section><!-- Partenaire -->

    {% include 'Site/include/_footer.html.twig' %}

{% endblock %}
