

// ----- Couleur ----- //

.color_light_grey{
  color: $color_light_grey;
}
.color_light_blue{
  color: $color_light_blue;
}
.color_dark_grey{
  color:$color_dark_grey;
}
.color_blue{
  color:$color_blue;
}
.color_white{
  color:$color_white;
}
.color_red{
  color: $color_youtube;
}
.color_orange{
  color: $color_orange;
}
.color_black{
  color: $color_black;
}
.color_green{
  color: $color_green;
}
.color_pink{
  color: $color_pink;
}
.base_color_1{
  color: $base_color_1;
}
.base_color_2{
  color: $base_color_2;
}

.base_color_3{
  color: $base_color_3;
}
.danger{
  background: $color_danger;
}
.warning{
  background: $color_warning;
}
.succes,.success{
  background: $color_succes;
}
.info, .notification{
  background: $color_info;
}

.font-1{
  font-family: $base_font_1;
}
.font-2{
  font-family: $base_font_2;
}
.font-3{
  font-family: $base_font_3;
}

