.header_top{
  background-color: $base_color_1;
  height: 43px;
  .container{
    span, a{
      @include font-size(16px);
      line-height: 22px;
    }
    .second_bloc{
      @include media-breakpoint-up('xxl'){
        margin-left: auto;
      }
    }
    .third_bloc{
      @include media-breakpoint-up('xxl'){
        margin-left: auto;
      }
    }
    .margin-texte{
      margin: 0 4px;

      &.first{
        margin-left: 0;
      }
    }
    .icon-delivrery, .icon-appel{
      @include font-size(18px);
      margin-right: 5px;
    }
    .icon-delivrery{
      @include font-size(32px);
    }
    .icon-dappel{
      @include font-size(32px);
    }

  }
}