<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="property" style="border-radius: 10%; box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.5);">
            <a href="#">
                <div class="property-image">
                    <img alt="" src="{{ asset('build/images/properties/property-03.8f2a7d0f.png') }}">
                </div>
                <div class="overlay">
                    <div class="info">
                        <div class="tag price">190 000 €</div>
                        <h3>3398 Lodgeville Road</h3>
                    </div>
                    <ul class="additional-info">
                        <li>
                            <header>Surface</header>
                            <figure>240m<sup>2</sup></figure>
                        </li>
                        <li>
                            <header>Chambres</header>
                            <figure>2</figure>
                        </li>
                        <li>
                            <header>Salle de bain</header>
                            <figure>2</figure>
                        </li>
                    </ul>
                </div>
            </a>
        </div><!-- /.property -->
    </div><!-- /.col-md-3 -->
</div><!-- /.row-->

