<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="property">
            <a href="#">
                <div class="property-image">
                    <img alt="" src="{{ asset('images/property.jpg') }}">
                </div>
                <div class="overlay">
                    <div class="info">
                        <div class="tag price">190 000 €</div>
                        <h3>3398 Lodgeville Road</h3>
                    </div>
                    <ul class="additional-info">
                        <li>
                            <header>Surface</header>
                            <figure>240m<sup>2</sup></figure>
                        </li>
                        <li>
                            <header>Chambres</header>
                            <figure>2</figure>
                        </li>
                        <li>
                            <header>Salle de bain</header>
                            <figure>2</figure>
                        </li>
                    </ul>
                </div>
            </a>
        </div><!-- /.property -->
    </div><!-- /.col-md-3 -->
</div><!-- /.row-->

