<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="service_box">
            <figure class="icon_box"><i class="icon icon-folder"></i></figure>
            <aside class="description">
                <header><h3>Large gamme de propriétés</h3></header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="#" class="link-arrow">En savoir plus</a>
            </aside>
        </div><!-- /.service_box -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-4 col-sm-4">
        <div class="service_box">
            <figure class="icon_box"><i class="icon icon-users"></i></figure>
            <aside class="description">
                <header><h3>14 agents pour votre service</h3></header>
                <p>Aliquam gravida magna et fringilla convallis. Pellentesque habitant morbi </p>
                <a href="#" class="link-arrow">En savoir plus</a>
            </aside>
        </div><!-- /.service_box -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-4 col-sm-4">
        <div class="service_box">
            <figure class="icon_box"><i class="icon icon-home"></i></figure>
            <aside class="description">
                <header><h3>Gestion locative</h3></header>
                <p>Phasellus non viverra tortor, id auctor leo. Suspendisse id nibh placerat</p>
                <a href="#" class="link-arrow">En savoir plus</a>
            </aside>
        </div><!-- /.service_box -->
    </div><!-- /.col-md-4 -->
</div><!-- /.row -->

