<footer id="page-footer">
    <div class="inner">
        <aside id="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <article>
                            <h3>Qui sommes-nous</h3>
                            <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                id, ornare tortor
                            </p>
                            <hr>
                            <a href="#" class="link-arrow">En savoir plus</a>
                        </article>
                    </div><!-- /.col-sm-3 -->

                    <div class="col-md-2 col-sm-3">
                        <article>
                            <h3>Propriétés récentes</h3>
                            <div class="property small">
                                <a href="#">
                                    <div class="property-image">
                                        <img alt="" src="{{ asset('build/images/architecture-1867187_640.ef1b34b4.jpg') }}">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="#">
                                        <h4>2186 <br> Rinehart</h4></a>
                                    <div class="tag price">720 000 €</div>
                                </div>
                            </div><!-- /.property -->

                            <div class="property small">
                                <a href="#">
                                    <div class="property-image">
                                        <img alt="" src="{{ asset('build/images/architecture-1867187_640.ef1b34b4.jpg') }}">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="#">
                                        <h4>2479 <br> Murphy Court</h4></a>
                                    <div class="tag price">360 000 €</div>
                                </div>
                            </div><!-- /.property -->
                        </article>
                    </div><!-- /.col-sm-3 -->

                    <div class="col-md-2 col-sm-3">
                        <article>
                            <h3>Contact</h3>
                            <address>
                                <strong>Mon Agence</strong><br>
                                Avenue de la libération<br>
                                33000 Bordeaux
                            </address>
                            05.56.00.00.00<br>
                            <a href="#">hello@example.com</a>
                        </article>
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-2 col-sm-3">
                        <article>
                            <h3>Liens utiles</h3>
                            <ul class="list-unstyled list-links">
                                <li><a href="#">Tous nos biens</a></li>
                                <li><a href="#">Présentation</a></li>
                                <li><a href="#">Connexion</a></li>
                                <li><a href="#">Politique de confidentialité</a></li>
                            </ul>
                        </article>
                    </div><!-- /.col-sm-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </aside><!-- /#footer-main -->

        <aside id="footer-copyright">
            <div class="container">
                <span>Copyright © 2020. All Rights Reserved.</span>
            </div>
        </aside>

    </div><!-- /.inner -->
</footer>