<div class="carousel1">
    <div>
        <blockquote>
            <figure>
                <div class="image">
                    <img alt="" src="{{ asset('images/AvatarBoy.png') }}" class="img-fluid">
                </div>
            </figure>
            <aside class="cite">
                <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                <footer>_ Natalie Jenkins</footer>
            </aside>
        </blockquote>
    </div>
    <div>
        <blockquote>
            <figure>
                <div class="image">
                    <img alt="" src="{{ asset('images/AvatarGirl.png') }}" class="img-fluid">
                </div>
            </figure>
            <aside class="cite">
                <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                <footer>_ Natalie Jenkins</footer>
            </aside>
        </blockquote>
    </div>
</div>






