{% extends 'base.html.twig' %}

{% block title %}Les Biens{% endblock %}

{% block body %}

<h1>Les Biens</h1>

    <ul>
        <li>
            <a class="btn btn-secondary" href="">Modifier</a>
        </li>
    </ul>

{% endblock %}
